<% if articles %>
  <% articles.each do |a| %>
    <%= a['slug'] %><br>
  <% end %>
<% else %>
  <h2>no articles</h2>
<% end %>

<% if pagination %>
  <h4 pagination>pagination</h4>
  <ul pagination>
  <% pagination.each do |i| %>
    <li><a href="?page=<%= i %>"><%= i %></a></li>
  <% end %>
  </ul>
<% end %>
