<cover index>
  <div>
    <h2>welcome to <%= config['name'] %></h2>
    <p><%= config['abstract']['long'] %></p>
  </div>
</cover>

<% if articles %>
  <% articles.each do |a| %>
    <%= a['slug'] %>
  <% end %>
<% end %>
