/* Copyright 2018, Daniel Oltmanns (https://github.com/oltdaniel) */

/* = COLORS =

text: #212121
muted: #DDDDDD
accent: #FFC400
error: #F44336
success: #00E676

*/

/* = RESET = */
html {
  border-top-color: #FFC400;
}

/* = FORMS = */
form {
  padding: 20px;
}
form[login] {
  margin: 0 auto;
  padding: 30px;

  max-width: 300px;
}
form[article-add], form[article-edit] {
  margin: 0 auto;
  padding: 30px;

  max-width: 700px;
}

form-group {
  padding: 10px 0;
  display: block;
}
form-group[checkbox] p {
  text-align: center;
}

form-footer {
  padding: 20px;
  display: block;
  text-align: center;
}

/* = INPUT = */
input, textarea {
  padding: 3px 8px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #DDDDDD;
  outline: none;
  display: block;
  width: 100%;

  transition: border-bottom-color .1s;
}
input:hover, textarea:hover { border-bottom-color: #212121; }
input:focus, textarea:focus { border-bottom-color: #FFC400; }
input[type="checkbox"] {
  display: inline-block !important;
  width: auto;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

/* BUTTON */
button {
  padding: 3px 20px;
  margin: 10px 0;
  display: inline-block;
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: .9rem;
  text-transform: uppercase;
  background-color: #FFC400;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(255, 196, 0, 0.16), 0 3px 6px rgba(255, 196, 0, 0.23);

  transition: .1s box-shadow, .1s background-color;
}
button:hover {
  background-color: #FFD740;
  box-shadow: 0 10px 20px rgba(255, 215, 64, 0.19), 0 6px 6px rgba(255, 215, 64, 0.23);
}
button:active {
  background-color: #FFAB00;
  box-shadow: 0 1px 3px rgba(255, 171, 0, 0.12), 0 1px 2px rgba(255, 171, 0, 0.24);
}
button[type="submit"] {
  font-size: 1rem;
  padding: 8px 25px;
  border-radius: 1.1rem;
}

/* = LISTS = */
ul[pagination] li[active] a {
  color: #FFC400;
}

/* = FLASH = */
flash {
  display: block;
  padding: 5px 25px;
  margin-top: 15px;
  text-align: center;
}
flash[error] {
  background-color: #F44336;
}
flash[success] {
  background-color: #00E676;
}
flash[error] *, flash[success] * {
  color: #FFFFFF;
}

/* = ARTICLES TABLE = */
table[articles] {
  width: 100%;
  border-collapse: collapse;
}
table[articles] th, table[articles] td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDDDDD;
}
table[articles] td[article-title] {
  cursor: pointer;
}
