<form action="/board/login?secret=<%= config['secret'] %>" method="post">
  <input type="text" name="username" value="">
  <input type="password" name="password" value="">
  <button type="submit" name="button">login</button>
</form>
